# Build
/build/

# Composer
/composer.lock
/vendor/

# Composer bin plugin
/vendor-bin/**/vendor

# Eclipse
/.buildpath
/.project
/.settings

# Node.js
/package-lock.json
/node_modules/

# wp-env
/.wp-env.override.json

# WordPress
/wordpress/
/wp-content/
